*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Gentium+Book+Basic:wght@400;700&family=Josefin+Sans:wght@100&display=swap');

::selection{
    background: red;
}
:root{
    --arvo :  'Josefin Sans', sans-serif;
    --roman : Georgia, 'Times New Roman', Times, serif;
    --primary :#FFFFFF;
    --secondary : #EBEBEB;
    --abang : #FF0000;

}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
}
header{
    width: 100%;
    height:auto;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
header .container-icon{
    display: flex;
    
    margin-left: 1rem
}
header .container-icon p{
    color:white;
    font-size: 2.5rem;
    font-family: var(--secondary)
}

header .container-menu{
    display: flex;
    margin-right: 1rem;
}
header .container-menu ul,header .container-shop ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header .container-menu ul li,header .container-shop ul li{
    color: white;
    margin-left: 2rem;
    font-family: var(--roman);
    font-size: 1.2rem;
}
header .container-shop{
    margin-right: 1rem;
}
header .container-shop ul li:nth-child(4){
    display: none;
}

.overlay{
    right: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    position: fixed;
    transition: 1s ease-in;
}
.overlay a{
    color: black;
    font-size: 1.4rem;
    position: absolute;
    left: 4%;
    top: 2%;
    font-size: 2rem;
    text-align: center;
}


.overlay ul li{
    margin-top: 2rem;
    position: relative;
}

.overlay ul li a{
    position: absolute;
    font-size: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
.overlay:target{
    top: 0;
    border-radius: 5px;
    z-index: 2;
    position: absolute;
    height: auto;
    width:20rem;
    background: var(--secondary);
}


#awal{
    width: 100%;
    height: 15rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../img/event1.png);
}
#awal .container{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#awal .container h4,
#awal .container h2{
    color: var(--primary);
    overflow-y: hidden;
}


#kedua {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#kedua .container{
    width: 60%;
    margin-top: 0.2rem;
    border-right: 1px solid red;
    display: flex;
    margin-left: 0.4rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
}

#kedua .container .item{
    width: 30rem;
    height: 20rem;
    margin-top: 2rem;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#kedua .container .item:nth-child(1)  .box{
    width: 100%;
    height: 100%;
    background-image: url(../img/1.png);
    background-size: cover;
    background-position: bottom;
    transition: 1s ease;
}
#kedua .container .item:nth-child(2) .box{
    width: 100%;
    height: 100%;
    background-image: url(../img/2.png);
    background-size: cover;
    background-position: bottom;
    transition: 1s ease;
}
#kedua .container .item:nth-child(3) .box{
    width: 100%;
    height: 100%;
    background-image: url(../img/3.png);
    background-size: cover;
    background-position: bottom;
    transition: 1s ease;
}
#kedua .container .item:nth-child(4) .box{
    width: 100%;
    height: 100%;
    background-image: url(../img/4.png);
    background-size: cover;
    background-position: bottom;
    transition: 1s ease;
}
#kedua .container .item .box:hover{
    transform: scale(1.2);
}

#kedua .container .item .garis{
    position: absolute;
    width: 85%;
    height: 85%;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


#kedua .container .item .garis h4{
    font-size: 1.8rem;
    font-family: var(--arvo);
    text-align: center;
    text-transform:capitalize;
}

#kedua .container .item .garis{
    font-family: var(--arvo);
    font-size:0.6rem;
    text-align: center;
}

#kedua .container .item:nth-child(5){
    display: block;
    height: calc(100% - 5rem);
   
}


#kedua .container1{
    width: 37%;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 0.4rem;
    height: auto;
}

#kedua .container1 h6{
    margin: 2rem  1rem;
    text-transform: capitalize;
    overflow-y: hidden;
}


#kedua .container1 input{
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;
    border-radius: 0.8rem;
    border-color: #FF0000;
}

#kedua .container1 details{
    margin: 1rem 1rem;
}

#kedua .container1 .box{
    width: 80%;
    height: auto;
}

#kedua .container1 .box h6{
    text-align: center;
    font-size: 1.2rem;
} 
#kedua .container1 .box .item{
    width: 100%;
    display: flex;
    height: 7rem;
    flex-wrap: wrap;
    justify-content: center;
}


#kedua .container1 .box .item img{
    width: 6rem;
    height: 100%;
    padding: 0.4rem;
}

#kedua .container1 .box .item:nth-child(4) img{
    width: 7rem;
}

#kedua .container1 .box .item h6{
    font-size: 0.8rem;
    width: 60%;
}

#kedua .container1  .item1{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#kedua .container1  .item1 div{
    background-color: red;
    width: 6rem;
    height: 2.4rem;
    margin: 0.3rem;
}

#kedua .container1 ul li{
    color: var(--abang);
}

#kedua .container1 .item4{
    width: 100%;
    height: auto;
}

#kedua .container1 .item4 .container2{
    background: url(../img/5.png);
    width: 80%;
    height: 17rem;
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#kedua .container1 .item4 .container2 .content{
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    background:transparent;
}

#kedua .container1 .item4 .container2 .content h2{
    text-align: center;
    color: #EBEBEB;
    font-family: var(--arvo);
}

#kedua .container1 .item4 .container2 .content p{
    text-align: center;
    text-transform: lowercase;
    font-family: var(--roman);
    margin-top: 2rem;
}

#kedua .container1 .item4 .container2 .content button{
    width: 80%;
    height: 3rem;
    display: block;
    margin: auto;
    background: red;
    border-radius: 1rem;
    color: white;
    border:none ;
}

#kedua .container1 .item5{
    background: url(../img/kalender.png);
    width: 70%;
    height: 20rem;
    display: block;
    margin: auto;
    background-size: cover;
}



#footer{
    width: 100%;
    margin-top: 1rem;
}

#footer .container{
    width: 100%;
    height: auto;
    position: relative;
}


#footer .container .wrapper3{
    width: 100%;
    height:auto;
    background-color: black;

}
#footer .container .wrapper3 .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#footer .container .wrapper3 .item{ 
    width: 30%;
    position: relative;
    height: auto;
    margin-top: 7rem;
    color: white;
}

#footer .container .wrapper3 .item h1{
    font-size: 1.2rem;
    font-family: var(--arvo);
    text-align: center;
}

#footer .container .wrapper3 .item p{
    font-size: 0.8rem;
}

#footer .container .wrapper3 .item input{
    width: 75%;
    height: 3rem;
    background-color: var(--secondary);
    color: black;
    display: block;
    margin: auto;
    border-radius: 0.8rem;
}

#footer .container .wrapper3 .item input::placeholder{
    color: black;
    text-align: center;
    border: none;
}

#footer .container .wrapper3 .item ul{
    display: flex;
    justify-content:center;
}

#footer .container .wrapper3 .item ul li{
    margin: 1rem 1rem 0 1rem ;
}

#footer .container .wrapper3 .item img{
    display: block;
    margin:1rem auto;
}

#footer .container .wrapper3 .container2 ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0.8rem 0 0 0 ;
    justify-content: center;
}

#footer .container .wrapper3 .container2 ul li{
    color:  gold;
    margin: 0.4rem;
    font-size: 1.2rem;
    font-family: var(--arvo);

}

#footer .container .wrapper3 .container2 p{
    text-align: center;
    color: white;
    font-size: 0.8rem;
    font-family: var(--arvo);
}



@media screen and (min-width:100px) and (max-width:600px){

    #kedua .container{
        width: 99%;
    }
    
#kedua .container .item{
    width: 20rem;
}

#awal .container h2{
    font-size: 0.8rem;
}

#kedua .container{
    border: none;
    margin:1rem 0;
}
#kedua .container1{
    width: 90%;
    display: block;
    margin: auto;
}

#kedua .container1 .box {
    width: 100%;
}

#kedua .container1 .box .item{
    width: 100%;
    height: auto;
}

#kedua .container1 .box .item:nth-child(4) img{
    width: 6rem;
}

#footer .container .wrapper3 .item ul{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    padding: 0;
    margin: 0;
    

}
#footer .container .wrapper3 .item ul li{
    font-size: 1rem;
    padding: 1rem;
    margin: 0;
}

#footer .container .wrapper3 .item{
    width: 70%;
}

}


@media screen and (min-width:600px) and (max-width:900px){

    #kedua .container{
        width: 99%;
    }
       
#kedua .container .item{
    width: 30rem;
}

#kedua .container{
    border: none;
    margin:1rem auto;
    display: block;
}
#kedua .container1{
    width: 90%;
    display: block;
    margin: auto;
}

#kedua .container1 .box .item{
    width: 100%;
    height: auto;
}

#footer .container .wrapper3 .item{
    width: 50%;
}
}

@media screen and (max-width:900px){
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    header .container-menu{
        display: none;
    }
    header .container-shop ul li:nth-child(4){
    display: flex;       
    }
    
#awal .container h2{
    font-size: 1rem;
}

}

@media screen and (min-width:900px) and (max-width:1200px){
    header{
        justify-content: center;
    }
    
#kedua .container{
    width: 55%;
}

#kedua .container1{
    width: 43%;
}

#kedua .container1 .box {
    width: 100%;
}

#kedua .container1 .box .item{
    width: 100%;
    height: auto;
}

#kedua .container1 .box .item:nth-child(4) img{
    width: 6rem;
}
}